<main>
 <p id="notice"><%= flash[:notice] %></p>


 <% if @review.errors.any? %>
   <%= @review.errors.count %> errors prohibited this obj from being saved:
    <ul>
     <% @review.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
    </ul>
 <% end %>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        
  <h1>Editing Review</h1>
  <%= form_with model:@review, local:true do |f| %>
    <div>
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <div class="form-controll"><%= f.text_field :title, autofocus: true, id:"inputTitle"%></div>
      </div>
  
      <div class="form-group">
        <label for="inputOpinion">Review</label>
        <div class="form-controll"><%= f.text_field :body, autofocus: true, id:"inputBody" %></div>
      </div>
  
      <div class="form-group">
           <input type="submit" name="commit" value="Update Review" class="btn btn-secondary" data-disable-with="Update Review" /> </div>
      </div>
    </div>
  
     <%= link_to "Show", review_path(@review) %>
      |
     <%= link_to "Back", reviews_path %>
  <% end %>

     </div>
   </div>
 </div>

</main>