<main>
  <p id="notice"><%= flash[:notice] %></p>
  
 <div class='container px-5 px-sm-0'>
    

     <div class='col-md-8 offset-md-1'>
        <h2>Reviews</h2>
        
        <table class='table table-hover table-inverse'>
        
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Reviews</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
               <td><%= link_to attachment_image_tag(review.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "default-image.jpg"), user_path(review.user) %></td>
               <td><%= link_to review.title, review_path(review) %></td>
               <td><%= review.review %></td>
               <td>
                <p><%= link_to "#{review.post_comments.count} コメント", review_path(review.id) %></p>
               </td>
               <td>
                <p><%= link_to "#{review.favorites.count} いいね", review_path(review.id) %></p>
               </td>
            <% end %>
              </tr>
          </tbody>
        
        </table>

      </div>
      <%= paginate @reviews %>
 </div>
</main>    