<main>
  
  <div class='container'>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='px-5 px-sm-0'>
  <%= render 'layouts/userinfo' %>

   <div class='col-md-8 offset-md-1'>
     <h2>Review detail</h2>
        <table class='table'>
          <tbody>
            <tr>
              
              <td>
                <%= link_to attachment_image_tag(@user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "default-image.jpg"), user_path(@user) %>
                <br><%= link_to @review.user.name, user_path(@user) %>
              </td>
              
              <td class="text-break">
                <%= @review.title %>
              </td>
              
              <td>
                <%= @review.review %>
              </td>
              
              <% if @review.user == current_user %>
                <td>
                   <%= link_to "Edit", edit_review_path(@review), class: "btn btn-sm btn-success" %>
                </td>
              
                <td>
                    <%= link_to "Destroy", review_path(@review), class: "btn btn-sm btn-danger", method: :delete %>
                </td>
              
              <% else %>
                <td></td>
                <td></td>
              <% end %>
          
            </tr>
          </tbody>
        </table>
        
        <div>
          <p>comments：<%= @review.post_comments.count %></p>
          <% @review.post_comments.each do |post_comment| %>
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
            
            <% if post_comment.user == current_user %>
            <div>
              <%= link_to "Destroy", review_post_comment_path(post_comment.review, post_comment), method: :delete %>
            </div>
            <% end %>
          <% end %>  
          
            <% if @review.favorited_by?(current_user) %>
             <p>
               <%= link_to review_favorites_path(@review), method: :delete do %>
                 ♥<%= @review.favorites.count %> いいね
               <% end %>
             </p>
            <% else %>
             <p>
               <%= link_to review_favorites_path(@review), method: :post do %>
                 ♡<%= @review.favorites.count %> いいね
               <% end %>
             </p>
            <% end %>
            
          
        </div>

        <div>
          <%= form_with(model:[@review, @post_comment], local: true) do |f| %>
             <%= f.text_area :comment, rows:'5',placeholder: "comment here" %>
             <%= f.submit "Send" %>
          <% end %>
        </div>
        
     </div>
   </div>
 </div>
</main>
      